<div class="video-list">
    <div *ngFor="let seriesItem of series">
        <div class="col-lg-3">
            <img class="thumbnail" [src]="seriesItem.getScreenshotUrl()" alt="video" [routerLink]="['/series', seriesItem._id]"/>
            <a [routerLink]="['/series', seriesItem._id]">
                {{seriesItem.title}}
            </a>
        </div>
    </div>
    <div *ngFor="let moviesItem of movies">
        <div class="col-lg-3">
            <img class="thumbnail" [src]="moviesItem.getScreenshotUrl()" alt="video" [routerLink]="['/movies', moviesItem._id]"/>
            <a [routerLink]="['/movies', moviesItem._id]">
                {{moviesItem.title}}
            </a>
        </div>
    </div>
</div>